version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: postgres_db
    environment:
      POSTGRES_DB: onetouche
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Olganik496
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    networks:
      - myapp-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d onetouche"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 5s

  app:
    build:
      context: .
      dockerfile: MiniHttpServer/Dockerfile
    image: mini-http-server
    container_name: mini-http-server
    environment:
      ASPNETCORE_URLS: http://+:1337
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "1337:1337"
    networks:
      - myapp-network

volumes:
  postgres_data:

networks:
  myapp-network:
    driver: bridge
