/* Общие переменные */
:root {
    --main-container-width: 1200px;
    --menu-bgcolor: whitesmoke;
    --item-active-background: #eee;
    --item-active-color: black;
    --link-active-color: #007355;
    --link-hover-color: #f36f21;
    --inactive-button-bgcolor: #eeeeee;
    --main-panel-bgcolor: #D0DFED;
    --table-header-bgcolor: #366383;
    --main-font-family: Tahoma, Arial, "sans serif";
    --common-dropdown-menu-width: 220px;
}

@media (max-width: 1199.98px) {
    :root {
        --main-container-width: 960px;
    }
}

/* Сброс стилей и общие настройки */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--main-font-family);
    font-size: 12px;
    color: #222222;
}

/* Стили заголовка */
#header {
    font-family: var(--main-font-family);
    font-size: 13px;
    margin-bottom: 50px;
    text-align: right;
}

#header img.logo {
    float: left;
    margin-right: 10px;
    border: 0;
    max-height: 60px;
}

#header .high-menu {
    margin: auto;
    width: var(--main-container-width);
    height: 72px;
    display: grid;
    grid-template-columns: 15% 35% 50%;
    grid-template-rows: 1fr;
    grid-template-areas: "logo currency note";
}

#header .logo {
    text-align: left;
    grid-area: logo;
}

#header .currency-header {
    grid-area: currency;
}

#header .note-header {
    grid-area: note;
}

#header .bottom-menu {
    background-color: var(--menu-bgcolor);
}

/* Навигационное меню */
#header .menu {
    width: var(--main-container-width);
    margin: auto;
}

#header .menu ul {
    display: table-row;
    list-style: none;
    margin: 0;
    padding: 0;
}

#header .menu li {
    display: table-cell;
    position: relative;
    margin: 0;
    padding: 0;
}

#header .menu a {
    text-decoration: none !important;
    display: block;
    padding: 15px;
    text-align: center;
    color: var(--link-active-color);
}

#header .menu a:hover {
    color: var(--link-hover-color);
}

#header .menu-caret:after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: 3px solid;
    border-right: 3px solid transparent;
    border-bottom: 0;
    border-left: 3px solid transparent;
}

#header .menu ul li:hover,
#header .menu a:hover {
    background-color: var(--item-active-background);
}

#header .menu > ul li:hover {
    box-shadow: none;
}

#header .menu li:hover ul {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--item-active-background);
    margin: 0;
    padding: 10px 20px;
    width: 100%;
    min-width: var(--common-dropdown-menu-width);
    z-index: 9999;
}

#header .menu ul ul {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

#header .menu ul ul li {
    display: block;
    background-color: var(--item-active-background);
    padding: 5px 0;
}

#header .menu ul ul li a {
    display: block;
    padding: 0;
    background-color: var(--item-active-background);
    text-align: left;
}

#header .menu ul ul li.selected {
    background-color: var(--item-active-background);
}

/* Стили выпадающих меню */
#header .menu ul ul li.selected a,
#header .menu li.selected > a {
    font-weight: bold;
    color: var(--item-active-color);
    pointer-events: none;
}

#header .menu ul li.auth a:before {
    display: inline-block;
    content: "__";
    color: transparent;
    width: 20px;
    background-image: url('../../pict/key.png');
    background-repeat: no-repeat;
}

#header .menu .nav > ul > li > a[href="#"] {
    pointer-events: none;
}

/* Стили валюты */
#header .currency {
    min-width: 200px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: var(--menu-bgcolor);
}

#header .currency td,
#header .currency th {
    padding: 2px 10px;
    text-align: center;
}

#header .currency .rate {
    min-width: 40px;
}

#header .currency .rate-up:before {
    content: '\2191';
    color: green;
    display: inline-block;
    font-weight: bold;
}

#header .currency .rate-down:before {
    content: '\2193';
    color: red;
    display: inline-block;
    font-weight: bold;
}

.rate.symbol {
    cursor: pointer;
    text-align: center;
    position: relative;
}

.rate.symbol:after {
    opacity: 0.3;
    content: '__';
    color: transparent;
    display: inline-block;
    background-image: url(../../pict/history.svg);
    background-repeat: no-repeat;
}

.rate.symbol:hover:after {
    opacity: 1;
}

/* Стили блока авторизации */
.samo_container {
    clear: both;
    font-family: var(--main-font-family);
    font-size: 12px;
    margin: 2em auto auto auto;
    text-align: center;
}

.samo_container .container {
    vertical-align: top;
    margin: auto;
    width: var(--main-container-width);
}

div.eraser {
    clear: both;
    height: 1px;
    line-height: 1px;
}

.outdated-browser-alert-block {
    display: none;
}

.outdated-browser-alert {
    width: 40%;
    margin-left: 30%;
    background: #e74c3c;
    color: white;
    padding: 10px;
    font-weight: bold;
    border-radius: .25rem;
}

.cookie_alert, .error {
    padding: 10px;
    text-align: center;
    position: absolute;
    left: 50%;
    width: 340px;
    margin-left: -180px;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #C62828;
    z-index: 1000;
    box-shadow: 0 9px 10px -7px #B7B7B7;
}

.cookie_alert {
    display: none;
}

/* Стили панели входа */
.samo_container .logon-wrapper {
    color: #222;
    width: 360px;
    margin: auto;
    max-height: 400px;
    font-family: Tahoma, Arial, "sans serif";
    font-size: 14px;
    margin-top: 65px;
}

.samo_container .logon-wrapper * {
    text-align: left;
    box-sizing: border-box;
}

/* Скрываем верхнюю плашку с надписью "Частным лицам" */
.samo_container .logon-wrapper .header {
    display: none;
}

/* Корректируем стили панели входа после удаления верхней части */
.samo_container .logon-wrapper .panel {
    padding: 24px;
    clear: both;
    border-radius: 8px; /* скругление со всех сторон */
    box-shadow: 0px 2px 8px hsl(0 0% 88%);
    background-color: var(--main-panel-bgcolor);
}

.samo_container .logon-wrapper .panel .choose {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 24px;
    padding: 0;
}

.samo_container .logon-wrapper .panel .choose span.legend {
    display: block;
    width: 147px;
    font-size: 18px;
    font-weight: bold;
    line-height: 36px;
    text-align: left;
    color: #366383;
}

.samo_container .logon-wrapper .fixer {
    display: block;
    clear: both;
    margin-bottom: 16px;
}

.samo_container .logon-wrapper .fixer:last-child {
    margin-bottom: 0;
}

.samo_container .logon-wrapper .panel .row a.forgot {
    text-align: right;
    line-height: 36px;
}

/* Стили полей формы */
#loginbox input[type="text"],
#loginbox input[type="password"] {
    margin: 0 !important;
    float: none;
    width: 100%;
    margin-top: 8px !important;
    padding: 10px 12px;
    font-size: 14px;
    border: 1px solid #999999;
    border-radius: 4px;
}

#loginbox input[type="radio"] {
    margin: 0 0 4px 0;
}

.samo_container input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fbfbfb inset;
}

.samo_container .logon-wrapper .panel .row {
    margin-bottom: 16px;
}

.samo_container .logon-wrapper .panel .row label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

#loginbox input[type="radio"] + label {
    display: inline-block;
    margin-left: 5px;
}

#loginbox .choose div {
    display: inline-block;
    margin-right: 20px;
}

/* Стили кнопок */
.samo_container .logon-wrapper button {
    float: none;
    padding: 10px 12px;
    color: #fff;
    background: #007355;
    font-weight: bold !important;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}

.samo_container .logon-wrapper button:hover {
    background: #009970;
}

.samo_container .logon-wrapper button:disabled {
    background: #cccccc;
    cursor: not-allowed;
}

.samo_container .logon-wrapper .panel .row a {
    float: right;
    cursor: pointer;
    color: var(--link-active-color);
    text-decoration: underline;
}

/* Уведомления */
#notify-container {
    position: absolute;
    right: 20px;
    width: 250px;
    z-index: 9999;
    font-size: 1em;
    top: 20px;
}

#notify-container span.notify-text {
    text-align: left;
    padding: 0 24px;
}

/* Прелоадер */
#samo-circle-preloader {
    position: fixed;
    z-index: 5000;
    top: 200px;
    left: calc(50% - 100px);
    display: none;
}

#samo-circle-preloader #samo-circle {
    vertical-align: middle;
    text-align: center;
    color: var(--table-header-bgcolor);
    outline-color: #E4E4E4;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 101px;
    width: 200px;
    height: 200px;
    border: 1px solid rgba(183, 183, 183, 0.25);
}

#samo-circle-preloader #samo-circle strong {
    position: absolute;
    line-height: 194px;
    height: 200px;
    left: 0;
    width: 200px;
    font-family: var(--main-font-family);
    font-size: 45px;
    color: #7b7b7b;
    visibility: hidden;
}

/* Адаптивность */
@media (max-width: 767.72px) {
    #header img.logo {
        float: none;
        width: 100px;
        margin: 12px 0;
    }
    
    .samo_container .container {
        width: 100%;
    }
    
    .samo_container .container .logon-wrapper {
        width: auto;
        margin: 0 12px;
    }
    
    .samo_container .logon-wrapper .panel {
        padding: 12px;
    }
}

@media (max-width: 991.98px) {
    .samo_container .logon-wrapper .panel {
        position: relative;
    }
}